@import '../styles/header.css';
@import '../styles/footer.css';
@import '../styles/unified.css';
@import '../styles/itemcard.css';

body {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-div {
    width: 80%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-surface);
    border: var(--color-border);
    border-radius: 12px;
    overflow: hidden;
    margin: 2rem;
}

@media (max-width: 640px) { 
    .main-div {
        width: 100%;
        border-radius: 0;
        margin: 0;
    }
}